In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.io.arff import loadarff 
from scipy.io import loadmat

In [6]:
raw_data = loadarff('ALOI.arff')
df_data = pd.DataFrame(raw_data[0])

In [7]:
df_data

,outlier,att1,att2,att3,att4,att5,att6,att7,att8,att9,...,att19,att20,att21,att22,att23,att24,att25,att26,att27,id
0,b'yes',0.872812,0.000005,0.000000,0.000036,0.000000,0.000000,0.0,0.000000,0.000000,...,0.014212,0.000104,0.0,0.025490,0.004937,0.000011,0.000054,0.006804,0.015385,1.0
1,b'yes',0.975206,0.000000,0.000000,0.000651,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.004853,0.001582,0.000000,0.000000,0.000201,0.000000,2.0
2,b'yes',0.963777,0.000000,0.000000,0.002005,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.007828,0.002523,0.000000,0.000393,0.003800,0.000000,3.0
3,b'yes',0.973246,0.000000,0.000000,0.000556,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.004392,0.000170,0.000000,0.000000,0.000007,0.000000,4.0
4,b'yes',0.960720,0.000000,0.000000,0.000656,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.010299,0.000561,0.000000,0.000084,0.000264,0.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,b'no',0.967972,0.000319,0.000000,0.000520,0.000267,0.000002,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000043,0.000170,0.000002,0.000043,0.004716,0.004415,49996.0
49996,b'no',0.974542,0.000472,0.000000,0.000723,0.000380,0.000007,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000038,0.000081,0.000000,0.000047,0.004734,0.001964,49997.0
49997,b'no',0.980091,0.000671,0.000000,0.000845,0.000402,0.000011,0.0,0.000002,0.000000,...,0.000000,0.000000,0.0,0.000054,0.000149,0.000000,0.000052,0.003603,0.002055,49998.0
49998,b'no',0.981312,0.000830,0.000002,0.000285,0.000368,0.000041,0.0,0.000002,0.000005,...,0.000000,0.000000,0.0,0.000106,0.000158,0.000029,0.000066,0.003493,0.002459,49999.0
49999,b'no',0.982038,0.000886,0.000002,0.000133,0.000371,0.000043,0.0,0.000014,0.000002,...,0.000002,0.000000,0.0,0.000104,0.000151,0.000023,0.000084,0.003441,0.002654,50000.0

In [10]:
mat = loadmat('musk.mat')  # load mat-file
mat

{'__header__': b'MATLAB 5.0 MAT-file, written by Octave 3.8.0, 2015-07-05 13:16:13 UTC',
 '__version__': '1.0',
 '__globals__': [],
 'X': array([[  46., -108.,  -60., ...,  -50., -112.,   96.],
        [  41., -188., -145., ...,  -61., -136.,   79.],
        [  46., -194., -145., ...,  -67., -145.,   39.],
        ...,
        [  43.,   87.,   31., ...,  -67., -159.,  -22.],
        [  43.,   63.,   41., ...,  -69., -270.,   -5.],
        [  43.,   64.,   41., ...,  -69., -270.,   -6.]]),
 'y': array([[1.],
        [1.],
        [1.],
        ...,
        [0.],
        [0.],
        [0.]])}

In [13]:
con_list = [[element for element in upperElement] for upperElement in mat['X']]

In [14]:
newData = list(zip(con_list[0], con_list[1]))
columns = ['X', 'y']
df = pd.DataFrame(newData, columns=columns)

In [15]:
df

         X      y
0     46.0   41.0
1   -108.0 -188.0
2    -60.0 -145.0
3    -69.0   22.0
4   -117.0 -117.0
..     ...    ...
161  126.0  136.0
162  156.0  169.0
163  -50.0  -61.0
164 -112.0 -136.0
165   96.0   79.0

[166 rows x 2 columns]

In [11]:
mat = loadmat('musk.mat')  # load mat-file
mdata = mat['X']  # variable in mat file
mdtype = mdata.dtype  # dtypes of structures are "unsized objects"
# * SciPy reads in structures as structured NumPy arrays of dtype object
# * The size of the array is the size of the structure array, not the number
#   elements in any particular field. The shape defaults to 2-dimensional.
# * For convenience make a dictionary of the data using the names from dtypes
# * Since the structure has only one element, but is 2-D, index it at [0, 0]
ndata = {n: mdata[n][0, 0] for n in mdtype.names}
# Reconstruct the columns of the data table from just the time series
# Use the number of intervals to test if a field is a column or metadata
columns = [n for n, v in ndata.iteritems() if v.size == ndata['numIntervals']]
# now make a data frame, setting the time stamps as the index
df = pd.DataFrame(np.concatenate([ndata[c] for c in columns], axis=1),
                  index=[datetime(*ts) for ts in ndata['timestamps']],
                  columns=columns)

TypeError: 'NoneType' object is not iterable